.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #dfeadf;
  margin: 0; /* Asegúrate de que no haya margen adicional */
}

.product-details-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.pdp-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  width: 100%;
  margin: 0; /* Asegúrate de que no haya margen adicional */
}

.product-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-description {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
}

.product-options {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
}

.options-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.option-button {
  padding: 10px;
  border: 1px solid #007bff;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.option-button.selected {
  background-color: #007bff;
  color: white;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.add-to-cart-button:hover {
  background-color: #218838;
}